@import "../lib/sharedStyles"

.qmSelectContentWrapper
  display: block
  position: relative
  overflow: visible
  line-height: 1

.qmSelectClickableWrapper
  borders(BASE_BORDER, 0.25rem)
  height: LARGER_ELEM_HEIGHT

  display: flex
  align-items: stretch
  justify-content: space-between
  overflow: hidden

  background: BASE_BG
  box-shadow: BLANK_OUTLINE
  transition: BASE_TRANSITION

  outline: solid transparent !important

  &.isCompact
    height: SMALLER_ELEM_HEIGHT

  &.isFocused
    box-shadow: BASE_OUTLINE
    border-color: OUTLINES

.qmSelectOpenIcon .qmIcon,
.qmSelectClearIcon .qmIcon
  fill: FADED_FONT
  transition: BASE_TRANSITION

.qmSelectOpenIconWrapper,
.qmSelectClearIconWrapper
  display: block
  align-self: center
  position: relative

  padding: 0.5em 0.75em
  background: transparent
  border: 0;

  &.isEnabled:hover

    .qmSelectOpenIcon .qmIcon
      fill: HIGHLIGHT

    .qmSelectClearIcon .qmIcon
      fill: NEGATIVE

.qmSelectClearIconWrapper
  outline: solid transparent !important

  &.isEnabled:focus .qmSelectClearIcon .qmIcon
    fill: NEGATIVE

.qmSelectOpenIconWrapper::before
  content: ""
  display: block
  position: absolute
  left: 0
  top: 50%
  width: 1px
  height: 50%
  transform: translateY(-50%)
  background: FADED_FONT

.qmSelectDisplay
  flex-grow: 1
  position: relative
  overflow: hidden
  color: BASE_FONT

  &.isPlaceholder
    color: BASE_PLACEHOLDER

  &.isDisabled
    color: BASE_PLACEHOLDER

    &.isPlaceholder
      color: FADED_FONT

.qmSelectValue
  @extend $ellipsisText

  display: block
  position: absolute
  top: 50%
  transform: translateY(-50%)

  max-width: 100%
  padding: 0 0 0 0.75rem

.qmSelectMenu
  size(100%, auto)
  borders(BASE_BORDER, 0.25rem)

  display: block
  position: absolute
  left: 0
  top: calc(100% + 0.25rem)
  z-index: 2

  overflow: hidden
  background: BASE_BG
  box-shadow: SUBTLE_SHADOW

.qmSelectMenuOption
  display: block
  background: BASE_BG
  color: BASE_FONT
  text-align: left
  padding: 0.5rem 0.75rem 0.66rem
  transition: BASE_TRANSITION

  outline: solid transparent !important

  &.isSelected
    background: HIGHLIGHT
    color: LIGHT_FONT

  &:hover,
  &:focus,
  &.isSelected:hover
    background: HIGHLIGHT
    color: LIGHT_FONT
