
// Font and spacing sizes

REM = 16px
DOUBLE_REM = REM * 2
HALF_REM = REM / 2
EIGHTH_REM = REM / 8
QUARTER_REM = REM / 4
THREE_QUARTER_REM = QUARTER_REM * 3
THIRD_REM = REM / 3
TWO_THIRD_REM = THIRD_REM * 2

// Colors

HOVER_LIGHTNESS = 15%

// Whites and white overlays

WHITE = #ffffff
WHITE_FADE_MIN = rgba(WHITE, 0.05)
WHITE_FADE_FLY = rgba(WHITE, 0.1)
WHITE_FADE_BANTAM = rgba(WHITE, 0.15)
WHITE_FADE_FEATHER = rgba(WHITE, 0.2)
WHITE_FADE_LIGHT = rgba(WHITE, 0.25)
WHITE_FADE_WELTER = rgba(WHITE, 0.5)
WHITE_FADE_MIDDLE = rgba(WHITE, 0.66)
WHITE_FADE_CRUISER = rgba(WHITE, 0.85)
WHITE_FADE_HEAVY = rgba(WHITE, 0.98)

// Blacks and black overlays

BLACK = #000000
BLACK_FADE_MIN = rgba(BLACK, 0.05)
BLACK_FADE_FLY = rgba(BLACK, 0.1)
BLACK_FADE_BANTAM = rgba(BLACK, 0.15)
BLACK_FADE_FEATHER = rgba(BLACK, 0.2)
BLACK_FADE_LIGHT = rgba(BLACK, 0.25)
BLACK_FADE_WELTER = rgba(BLACK, 0.5)
BLACK_FADE_MIDDLE = rgba(BLACK, 0.66)
BLACK_FADE_CRUISER = rgba(BLACK, 0.85)
BLACK_FADE_HEAVY = rgba(BLACK, 0.98)

// Grays

GRAY = #777777
DARK_GRAY = #333333
DARKER_GRAY = #282828
DARKEST_GRAY = #202020
LIGHT_GRAY = #505050
LIGHTER_GRAY = #595959
LIGHTEST_GRAY = #bdbdbd

// Rainbow

RED = #f7364c
RED_LIGHT = lighten(RED, HOVER_LIGHTNESS)
RED_ORANGE = #fb5c41
RED_ORANGE_LIGHT = lighten(RED_ORANGE, HOVER_LIGHTNESS)
ORANGE = #ff8933
ORANGE_LIGHT = lighten(ORANGE, HOVER_LIGHTNESS)
ORANGE_YELLOW = #fa9e20
ORANGE_YELLOW_LIGHT = lighten(ORANGE_YELLOW, HOVER_LIGHTNESS)
YELLOW = #f3b709
YELLOW_LIGHT = lighten(YELLOW, HOVER_LIGHTNESS)
YELLOW_GREEN = #aabb19
YELLOW_GREEN_LIGHT = lighten(YELLOW_GREEN, HOVER_LIGHTNESS)
GREEN = #52c02c
GREEN_LIGHT = lighten(GREEN, HOVER_LIGHTNESS)
GREEN_BLUE = #48ad8c
GREEN_BLUE_LIGHT = lighten(GREEN_BLUE, HOVER_LIGHTNESS)
BLUE = #3c97ff
BLUE_LIGHT = lighten(BLUE, HOVER_LIGHTNESS)
BLUE_PURPLE = #7481ff
BLUE_PURPLE_LIGHT = lighten(BLUE_PURPLE, HOVER_LIGHTNESS)
PURPLE = #b867ff
PURPLE_LIGHT = lighten(PURPLE, HOVER_LIGHTNESS)
PURPLE_RED = #d551ae
PURPLE_RED_LIGHT = lighten(PURPLE_RED, HOVER_LIGHTNESS)

// App-wide highlights

HIGHLIGHTS = BLUE
HIGHLIGHTS_LIGHT = lighten(HIGHLIGHTS, HOVER_LIGHTNESS)
HIGHLIGHTS_FADE_MIN = rgba(HIGHLIGHTS, 0.05)
HIGHLIGHTS_FADE_FLY = rgba(HIGHLIGHTS, 0.1)
HIGHLIGHTS_FADE_BANTAM = rgba(HIGHLIGHTS, 0.15)
HIGHLIGHTS_FADE_FEATHER = rgba(HIGHLIGHTS, 0.2)
HIGHLIGHTS_FADE_LIGHT = rgba(HIGHLIGHTS, 0.25)
HIGHLIGHTS_FADE_WELTER = rgba(HIGHLIGHTS, 0.5)
HIGHLIGHTS_FADE_MIDDLE = rgba(HIGHLIGHTS, 0.66)
HIGHLIGHTS_FADE_CRUISER = rgba(HIGHLIGHTS, 0.85)
HIGHLIGHTS_FADE_HEAVY = rgba(HIGHLIGHTS, 0.98)

// Errors

ERROR = RED
ERROR_LIGHT = lighten(ERROR, HOVER_LIGHTNESS)

// Active indicators

ACTIVE = GREEN
ACTIVE_LIGHT = lighten(ACTIVE, HOVER_LIGHTNESS)

// Background and font colors

BASE_BG = WHITE
BASE_FONT = DARK_GRAY
BASE_FONT_DISABLED = LIGHTEST_GRAY
BASE_FONT_LIGHTER = LIGHTEST_GRAY
BASE_FONT_LIGHTEST = WHITE
BASE_PLACEHOLDER = GRAY

// Misc settings

BASE_BORDER = 1px solid BLACK_FADE_FEATHER
BASE_OUTLINE = 0 0 0 2px HIGHLIGHTS
BASE_TRANSITION = all .2s ease
BLANK_OUTLINE = 0 0 0 transparent
LIFTED_SHADOW = 0 3px 15px BLACK_FADE_FEATHER
ERR_OUTLINE = 0 0 0 2px ERROR
SMALLER_FONT = REM * 0.85
SMALLEST_FONT = REM * 0.75
SUBTLE_SHADOW = 0 0 5px BLACK_FADE_FEATHER

// Compact and non/compact element sizes

LARGER_ELEM_HEIGHT = REM * 3
SMALLER_ELEM_HEIGHT = REM * 2

GUTTER = REM * 1.5
HALF_GUTTER = GUTTER / 2
THIRD_GUTTER = GUTTER / 3

// Useful extensions and and functions

$absFill
  display: block
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%

$absCenter
  display: block
  position: absolute
  left: 50%
  top: 50%
  transform: translateX(-50%) translateY(-50%)

$fixFill
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

$vertMiddle
  display: inline-block
  vertical-align: middle

$ellipsisText
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

$dialogBox
  width: 100%
  height: auto

  box-sizing: border-box
  border: BASE_BORDER
  border-radius: QUARTER_REM

  display: block
  position: absolute
  left: 0
  z-index: 3

  overflow: hidden
  background: BASE_BG
  box-shadow: SUBTLE_SHADOW

size(w, h = w)
  width: w
  height: h

borders(b, r = 0)
  box-sizing: border-box
  border: b
  border-radius: r

plus(x, y)
  x + y

minus(x, y)
  x - y

times(x, y)
  x * y

div(x, y)
  x / y

neg(x)
  times(x, -1)
