@import "../lib/sharedStyles"

.qmHeadingContainer
  display: block

.qmHeading
  &.isH1
    font-size: DOUBLE_REM + HALF_REM

  &.isH2
    font-size: DOUBLE_REM

  &.isH3
    font-size: REM + THREE_QUARTER_REM

  &.isH4
    font-size: REM + HALF_REM

  &.isH5
    font-size: REM + QUARTER_REM

  &.isH6
    font-size: REM