@import "../lib/sharedStyles"

.qmIcon
  display: block
  fill: none
  stroke: BASE_FONT
  transition: BASE_TRANSITION
  font-size: 1rem

  &.isNoStroke
    stroke: none

.qmPathIsFilled
  fill: BASE_FONT
