@import "../lib/sharedStyles"

TOGGLE_SIZE = 18px
TOGGLE_COMPACT_SIZE = 14px
BAR_HEIGHT = 5px

.qmSliderContainer
  display: block
  position: relative

  &.hasTicks
    padding-bottom: QUARTER_REM

.qmSliderTicks
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  display: flex
  justify-content: space-between

.qmSliderTick
  display: block
  width: 1px
  height: QUARTER_REM
  position: relative

  &::after
    content: ""
    display: block
    height: 100%
    width: 1px
    background: BLACK_FADE_FEATHER
    position: absolute
    left: 50%
    top: 0
    transform: translateX(-50%)

  &:first-child
    margin-left: div(TOGGLE_SIZE, 2) - 1

  &:last-child
    margin-right: div(TOGGLE_SIZE, 2) - 1

.qmSliderContainer.isCompact .qmSliderTick:first-child
  margin-left: div(TOGGLE_COMPACT_SIZE, 2) - 1

.qmSliderContainer.isCompact .qmSliderTick:last-child
  margin-right: div(TOGGLE_COMPACT_SIZE, 2) - 1

.qmSliderLabelWrapper
  display: flex
  justify-content: space-between
  align-items: center
  flex-direction: row-reverse

.qmSliderLabel.isCompact
  padding-bottom: QUARTER_REM

.qmSliderInputWrapper
  position: relative
  height: TOGGLE_SIZE

  &.isCompact
    height: TOGGLE_COMPACT_SIZE

.qmSliderInput
  borders(0, REM)
  outline: solid transparent !important

  display: block
  width: 100%
  height: BAR_HEIGHT

  position: absolute
  top: 50%
  left: 0
  transform: translateY(-50%)

  background: BLACK_FADE_FLY

  -webkit-appearance: none
  appearance: none

.qmSliderInput::-webkit-slider-thumb
  size(TOGGLE_SIZE)
  borders(0, 50%)

  background: BASE_BG
  box-shadow: 0 0 0 1px BLACK_FADE_BANTAM
  transition: BASE_TRANSITION

  -webkit-appearance: none
  appearance: none

.qmSliderInput.isCompact::-webkit-slider-thumb
  size(TOGGLE_COMPACT_SIZE)

.qmSliderInput::-moz-range-thumb
  size(TOGGLE_SIZE)
  borders(0, 50%)

  background: BASE_BG
  box-shadow: 0 0 0 1px BLACK_FADE_BANTAM
  transition: BASE_TRANSITION

.qmSliderInput.isCompact::-moz-range-thumb
  size(TOGGLE_COMPACT_SIZE)

.qmSliderInput:focus::-webkit-slider-thumb
  box-shadow: 0 0 0 2px HIGHLIGHTS

.qmSliderInput:focus::-moz-range-thumb
  box-shadow: 0 0 0 2px HIGHLIGHTS
