@import "../lib/sharedStyles"

.qmCheckboxContainer
  @extend $vertMiddle
  padding: 0 HALF_GUTTER 0.33rem 0

.qmCheckboxLabel
  @extend $vertMiddle
  color: BASE_FONT
  transition: BASE_TRANSITION
  margin-right: 0.33rem

  &.isDisabled
    color: FADED_FONT

.qmCheckboxFauxWrapper
  @extend $vertMiddle

  &:hover .qmCheckboxLabel.isEnabled
    color: HIGHLIGHT

.qmCheckboxCheckWrapper
  @extend $vertMiddle
  size(18px)

  position: relative
  margin-right: 0.33rem

.qmCheckboxOverlay
  @extend $absFill
  borders(BASE_BORDER, 0.25rem)

  background: BASE_BG
  outline: solid transparent !important
  transition: BASE_TRANSITION
  box-shadow: BLANK_OUTLINE

  &.isChecked
    background: HIGHLIGHT
    border-color: HIGHLIGHT

  &.isFocused
    box-shadow: BASE_OUTLINE

.qmCheckboxCheckmark
  @extend $absCenter
  size(75%, 75%)

  path
    fill: LIGHT_FONT

.qmCheckboxNative
  display: block
  position: absolute
  left: -1000vw
  top: 0
  border: 0

