@import "../lib/sharedStyles"

.qmDatePickerContainer
  position: relative

.qmDatePickerFieldWrapper
  position: relative

.qmDatePickerOverlay
  @extends $absFill
  opacity: 0
  z-index: 2

.qmDatePickerDialog
  @extends $dialogBox

  &.isBottom
    top: "calc(100% + %s)" % (QUARTER_REM)

  &.isTop
    bottom: "calc(100% + %s)" % (QUARTER_REM)

.qmDatePickerHeader
  padding: QUARTER_REM

.qmDatePickerTitle
  text-align: center
  vertical-align: middle

.qmDatePickerReset
  margin-left: QUARTER_REM

.qmDatePickerMonthLeftWrapper
  text-align: left

.qmDatePickerMonthRightWrapper
  text-align: right

.qmDatePickerDays
  padding: QUARTER_REM
  width: 100%

  button
    display: block
    width: 100%

.qmDatePickerTHead
  font-size: 90%;

.qmDatePickerDay
  borders(1px solid transparent, QUARTER_REM)
  outline: solid transparent !important

  display: block
  background: BLACK_FADE_MIN
  font-size: 90%
  padding: QUARTER_REM
  transition: BASE_TRANSITION

  &:not(.isDisabled):hover
    background: BLACK_FADE_FLY

  &.isToday,
  &:focus
    border-color: HIGHLIGHTS
    box-shadow: inset 0 0 0 2px HIGHLIGHTS

  &.isSelected,
  &.isSelected:hover
    background: HIGHLIGHTS
    color: WHITE

