@import "../lib/sharedStyles"

.qmDatePickerContainer
  position: relative

.qmDatePickerFieldWrapper
  position: relative

.qmDatePickerField .qmTextFieldInput.isField
  padding-right: REM * 3

.qmDatePickerField.hasValue .qmTextFieldInput.isField
  padding-right: REM * 4.5

.qmDatePickerOverlay
  @extends $absFill
  z-index: 2

.qmDatePickerIcons
  position: absolute
  top: 50%
  right: 0
  transform: translateY(-50%)
  z-index: 2
  display: flex

.qmDatePickerIconWrapper
  position: relative
  padding: 0.5em 0.75em

  &::before
    content: ""
    display: block
    position: absolute
    left: 0
    top: 50%
    width: 1px
    height: 50%
    transform: translateY(-50%)
    background: LIGHTEST_GRAY

.qmIcon.qmDatePickerIcon
  stroke: LIGHTEST_GRAY

  .qmPathIsFilled
    fill: LIGHTEST_GRAY

.qmIcon.qmDatePickerDateIcon:hover
  stroke: HIGHLIGHTS

  .qmPathIsFilled
    fill: HIGHLIGHTS

.qmDatePickerClearButton
  border: 0
  background: transparent
  outline: solid transparent !important
  padding: 0.5em 0.66em
  display: none

  &.hasValue
    display: block

  &:hover .qmDatePickerClearIcon
    stroke: RED

.qmDatePickerDialog
  @extends $dialogBox

  &.isBottom
    top: "calc(100% + %s)" % (QUARTER_REM)

  &.isTop
    bottom: "calc(100% + %s)" % (QUARTER_REM)

.qmDatePickerHeader
  padding: QUARTER_REM

.qmDatePickerTitle
  text-align: center
  font-weight: BOLD

.qmDatePickerReset
  margin-left: QUARTER_REM

.qmDatePickerMonthLeftWrapper
  text-align: left

.qmDatePickerMonthRightWrapper
  text-align: right

.qmDatePickerSelectorsWrapper
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.qmDatePickerCalendar
  flex-grow: 10

.qmDatePickerDayTable,
.qmDatePickerTimeTable
  padding: QUARTER_REM
  width: 100%

  border-collapse: separate
  border-spacing: 0

  th, td
    border: 0
    padding: 0

    &.isCompact
      font-size: SMALLEST_FONT

.qmDatePickerDay,
.qmDatePickerHour
  borders(1px solid transparent, 10 * REM)
  outline: solid transparent !important

  display: block
  margin: div(QUARTER_REM, 2) auto
  width: DOUBLE_REM
  height: DOUBLE_REM
  padding: 0

  background: transparent
  font-size: SMALLER_FONT
  text-align: center
  line-height: REM
  transition: BASE_TRANSITION

  &.isCompact
    width: times(REM, 1.5)
    height: times(REM, 1.5)
    font-size: SMALLEST_FONT

  &:not(.isDisabled):hover
    background: BLACK_FADE_FLY

  &.isToday,
  &:focus
    border-color: HIGHLIGHTS
    box-shadow: inset 0 0 0 1px HIGHLIGHTS

  &.isSelected,
  &.isSelected:hover
    background: HIGHLIGHTS
    color: WHITE

.qmDatePickerTimes
  text-align: center
  flex-grow: 1

.qmDatePickerHours
  display: flex
  flex-wrap: wrap
  flex-flow: column
  max-height: REM * 11
  overflow-y: auto
  padding-top: 2px
  box-sizing: border-box

  &.isCompact
    max-height: REM * 9

.qmDatePickerHour
  margin: 0 auto 4px
  min-width: REM * 5
  min-height: DOUBLE_REM

  &.isCompact
    min-height: times(REM, 1.5)

  &:last-child
    margin-bottom: 0

