@import "../lib/sharedStyles"

.qmTextContainer
  display: inline-block
  vertical-align: middle

  font-size: REM
  font-weight: normal
  line-height: 1.3
  color: BASE_FONT

  &.isBold
    font-weight: bold

  &.isSmaller
    font-size: SMALLER_FONT

  &.isUppercase
    text-transform: uppercase

