@import "../lib/sharedStyles"

.qmTagContainer
  borders(BASE_BORDER, 0.25rem)
  display: block
  padding: 0.2rem 0.5rem

  line-height: 1
  text-transform: uppercase
  font-weight: bold
  font-size: .75rem

  &.isGray
    background: rgba(GRAY, 0.15)
    border-color: rgba(GRAY, 0.25)
    color: GRAY

  &.isRed
    background: rgba(RED, 0.15)
    border-color: rgba(RED, 0.25)
    color: RED

  &.isOrange
    background: rgba(ORANGE, 0.15)
    border-color: rgba(ORANGE, 0.25)
    color: ORANGE

  &.isYellow
    background: rgba(YELLOW, 0.15)
    border-color: rgba(YELLOW, 0.25)
    color: YELLOW

  &.isGreen
    background: rgba(GREEN, 0.15)
    border-color: rgba(GREEN, 0.25)
    color: GREEN

  &.isBlue
    background: rgba(BLUE, 0.15)
    border-color: rgba(BLUE, 0.25)
    color: BLUE

  &.isPurple
    background: rgba(PURPLE, 0.15)
    border-color: rgba(PURPLE, 0.25)
    color: PURPLE
