@import "../lib/sharedStyles"

.qmMenuContainer
  display: block
  background: BASE_BG
  padding: 1.25rem 0
  position: relative
  z-index: 3

  &.isCompact
    padding: 0.75rem 0

  &.isLifted
    box-shadow: LIFTED_SHADOW

.qmMenuLabel
  padding-bottom: 0

.qmMenuLink,
.qmMenuSubmenuLink
  display: block
  color: BASE_FONT
  text-decoration: none
  line-height: 1.2
  transition: BASE_TRANSITION

  position: relative

.qmMenuLink:hover,
.qmMenuSubmenuLink.isCollapsible:hover
  color: HIGHLIGHT
  background-color: LIGHTEST_BG

.qmMenuSubmenuLink
  border: 0
  background: transparent
  width: 100%
  padding: 0
  margin: 0
  text-align: left
  overflow: visible
  outline: solid transparent !important

.qmMenuLinkText
  display: block
  max-width: calc(100% - 2rem)

.qmMenuSubmenu.qmMenuContainer:not(.isCollapsible)
  padding-top: 0
  padding-bottom: 0
  box-shadow: none
  margin-left: 1rem

.qmMenuSubmenu.canAnimate
  position: absolute
  width: 100%

  &.isMenuLeft
    right: 1rem

  &.isMenuRight
    left: 1rem

  &.isMenuTop
    bottom: 100%

  &.isMenuBottom
    top: 100%

.qmMenuSeparator
  border: 0
  border-bottom: BASE_BORDER

.qmIcon.qmMenuActiveIcon,
.qmIcon.qmMenuSubmenuIcon
  position: absolute
  top: 50%
  right: 1.5rem
  transform: translateY(-50%)

  &.isCompact
    right: 1rem

.qmMenuSubmenuIcon.isFlipped
  transform: translateY(-50%) rotate(180deg)

.qmIcon.qmMenuActiveIcon
  stroke: ON_INDICATORS
  margin-right: 1px
