@import "../lib/sharedStyles"

DARK_GRAY = #333333
DARKER_GRAY = #282828
DARKEST_GRAY = #202020

LIGHT_GRAY = #505050
LIGHTER_GRAY = #595959
LIGHTEST_GRAY = #BDBDBD

LIGHT_TRANSPARENCY = rgba(255, 255, 255, 0.15)
WHITE = #FFFFFF

body
  background: DARK_GRAY
  color: LIGHTEST_GRAY

.qmCheckboxOverlay,
.qmRadioOverlay,
.qmSelectClickableWrapper,
.qmTextFieldInputWrapper,
.qmToggleOverlay
  background: DARKER_GRAY

.qmIconButtonEffect,
.qmSelectMenu,
.qmSelectMenuOption
  background: DARKEST_GRAY

.qmToggleSlider
  background: LIGHTEST_GRAY

.qmSelectOpenIconWrapper::before
  background: LIGHTER_GRAY

.qmAvatarInitials
  background: LIGHT_GRAY

.qmToggleSlider.isChecked
  background: WHITE

.qmCharLimitBar
  background: TRANSPARENCY

.qmCheckboxOverlay,
.qmRadioOverlay,
.qmSelectClickableWrapper,
.qmSelectMenu,
.qmTextFieldInput.isField,
.qmTextFieldInput.isTextArea,
.qmToggleOverlay
  border: 0

.qmAvatarIndicator
  border-color: DARK_GRAY

.qmSpinnerContainer
  border-color: LIGHT_TRANSPARENCY

.qmSpinnerContainer
  border-top-color: HIGHLIGHT

.qmCharLimitBar
  border-radius: 0.25rem

.qmAvatarContainer
  box-shadow: 0 0 0 3px DARK_GRAY

.qmCharLimitText,
.qmCheckboxLabel,
.qmRadioLabel,
.qmSelectMenuOption,
.qmToggleLabel
  color: LIGHTEST_GRAY

.qmCharLimitContainer.isDisabled .qmCharLimitText
.qmSelectDisplay.isDisabled,
.qmSelectDisplay.isDisabled.isPlaceholder,
.qmTextFieldInput.isField.isDisabled,
.qmTextFieldInput.isField.isDisabled::placeholder,
.qmTextFieldInput.isTextArea.isDisabled,
.qmTextFieldInput.isTextArea.isDisabled::placeholder
  color: LIGHT_GRAY

.qmLabelContainer,
.qmSelectDisplay,
.qmTextFieldInput.isField,
.qmTextFieldInput.isTextArea
  color: WHITE

.qmSelectOpenIcon .qmIcon,
.qmSelectClearIcon .qmIcon
  fill: LIGHTER_GRAY

.qmIcon
  fill: WHITE

.qmCharLimitBar
  height: 100%

.qmCharLimitBarFill
  opacity: 0.2

.qmSelectOpenIconWrapper::before
  opacity: 0.33

.qmSelectOpenIconWrapper.isDisabled,
.qmSelectClearIconWrapper.isDisabled
  opacity: 0.5

