@import "../lib/sharedStyles"

.qmButtonContent
  transition: BASE_TRANSITION
  color: BASE_FONT_LIGHTEST

.qmButtonContainer
  @extend $vertMiddle
  borders(0, 10 * REM)

  position: relative

  background: HIGHLIGHTS
  padding: HALF_REM times(2.5, REM) HALF_REM
  height: LARGER_ELEM_HEIGHT

  line-height: 1

  transition: BASE_TRANSITION
  cursor: default
  opacity: 0.5
  outline: solid transparent !important

  .qmButtonSpinner
    position: absolute
    top: 50%
    left: THREE_QUARTER_REM
    margin-top: neg(HALF_REM + EIGHTH_REM)

    border-color: WHITE_FADE_LIGHT
    border-top-color: WHITE

  &.isCompact
    height: SMALLER_ELEM_HEIGHT
    padding: 0 times(1.5, REM) EIGHTH_REM

    .qmButtonSpinner
      left: HALF_REM
      margin-top: neg(HALF_REM)

  &.isEnabled
    cursor: pointer
    opacity: 1

    &:hover
      background: HIGHLIGHTS_LIGHT

      .qmButtonContent
        color: BASE_FONT_LIGHTEST

  &.isPositive
    background: GREEN

    &.isEnabled:hover
      background: GREEN_LIGHT

  &.isNegative
    background: RED

    &.isEnabled:hover
      background: RED_LIGHT

  &.isDisabled
    opacity: 0.5

  &.isEnabled.isFocused
    transform: scale(1.1)

  &.isEnabled:active
    transform: scale(0.95)

