@import "../lib/sharedStyles"

.qmButtonContent
  transition: BASE_TRANSITION
  color: LIGHT_FONT

.qmButtonContainer
  @extend $vertMiddle
  borders(0, 10rem)

  background: HIGHLIGHT
  padding: 0.5rem 2rem 0.5rem
  height: LARGER_ELEM_HEIGHT

  line-height: 1em
  font-size: 90%

  transition: BASE_TRANSITION
  cursor: default
  outline: solid transparent !important

  &.isCompact
    height: SMALLER_ELEM_HEIGHT
    padding: 0.5rem 1.5rem 0.5rem

  &.isEnabled
    cursor: pointer

    &:hover
      background: LIGHT_HIGHLIGHT

      .qmButtonContent
        color: LIGHT_FONT

  &.isPositive
    background: POSITIVE

    &.isEnabled:hover
      background: POSITIVE_HOVER

  &.isNegative
    background: NEGATIVE

    &.isEnabled:hover
      background: NEGATIVE_HOVER

  &.isDisabled
    opacity: 0.5

  &.isEnabled.isFocused
    transform: scale(1.1)

  &.isEnabled:active
    transform: scale(0.95)

