@import "../lib/sharedStyles"

.qmButtonContent
  transition: BASE_TRANSITION
  color: LIGHT_FONT

.qmButtonContainer
  @extend $vertMiddle
  borders(0, 10rem)

  position: relative

  background: HIGHLIGHT
  padding: 0.5rem 2.5rem 0.5rem
  height: LARGER_ELEM_HEIGHT

  line-height: 1em
  font-size: 90%

  transition: BASE_TRANSITION
  cursor: default
  opacity: 0.5
  outline: solid transparent !important

  .qmButtonSpinner
    position: absolute
    top: 50%
    left: 0.75rem
    margin-top: -10px

    border-color: rgba(255,255,255,0.25)
    border-top-color: LIGHT_FONT

  &.isCompact
    height: SMALLER_ELEM_HEIGHT
    padding: 0.5rem 2rem 0.5rem

    .qmButtonSpinner
      left: 0.5rem
      margin-top: -8px

  &.isEnabled
    cursor: pointer
    opacity: 1

    &:hover
      background: LIGHT_HIGHLIGHT

      .qmButtonContent
        color: LIGHT_FONT

  &.isPositive
    background: POSITIVE

    &.isEnabled:hover
      background: POSITIVE_HOVER

  &.isNegative
    background: NEGATIVE

    &.isEnabled:hover
      background: NEGATIVE_HOVER

  &.isDisabled
    opacity: 0.5

  &.isEnabled.isFocused
    transform: scale(1.1)

  &.isEnabled:active
    transform: scale(0.95)

