@import "../lib/sharedStyles"

$fillCircle
  @extend $absFill
  box-sizing: border-box
  border: 0
  border-radius: 50%

.qmAvatarContainer
  @extend $vertMiddle
  size(LARGER_ELEM_HEIGHT)
  borders(0, 50%)

  position: relative
  overflow: visible
  box-shadow: 0 0 0 2px BASE_BG

  flex-grow: 0 !important

  &.isCompact
    size(SMALLER_ELEM_HEIGHT)

.qmAvatarContent
  @extend $fillCircle

.qmAvatarImg
  @extend $fillCircle

  background-size: cover
  background-position: center
  background-color: transparent

.qmAvatarInitials
  @extend $fillCircle

  background: BASE_FONT
  color: BASE_FONT_LIGHTEST
  font-size: SMALLER_FONT
  letter-spacing: 1px

  display: flex
  align-content: center
  justify-content: center
  align-items: center

.qmAvatarIndicator
  size(12px)
  borders(2px solid BASE_BG, 50%)

  display: block
  position: absolute
  right: 0
  bottom: 0
  z-index: 2

  background: LIGHTEST_GRAY

  &.isCompact
    size(10px)
    right: -1px
    bottom: -1px

.qmAvatarIndicator.isActive
  background: ACTIVE


