@import "../lib/sharedStyles"

$fillCircle
  @extend $absFill
  box-sizing: border-box
  border: 0
  border-radius: 50%

.qmAvatarContainer
  @extend $vertMiddle
  size(40px)
  borders(0, 50%)

  position: relative
  overflow: visible
  box-shadow: 0 0 0 2px BASE_BG

  flex-grow: 0 !important

.qmAvatarContent
  @extend $fillCircle

.qmAvatarImg
  @extend $fillCircle

  background-size: cover
  background-position: center
  background-color: transparent

.qmAvatarInitials
  @extend $fillCircle

  background: BASE_FONT
  color: LIGHT_FONT
  font-size: 90%
  letter-spacing: 1px
  font-weight: bold

  display: flex
  align-content: center
  justify-content: center
  align-items: center

.qmAvatarIndicator
  size(12px)
  borders(2px solid BASE_BG, 50%)

  display: block
  position: absolute
  right: -1px
  bottom: -1px
  z-index: 2

  background: FADED_FONT

.qmAvatarIndicator.isActive
  background: ON_INDICATORS


