@import "../lib/sharedStyles"

.qmAvatarContainer
  @extend $vertMiddle
  size(40px)
  borders(0, 50%)

  position: relative
  overflow: visible

  flex-grow: 0 !important

.qmAvatarContent
  @extend $absFill
  borders(0, 50%)

  background-size: cover
  background-position: center
  background-color: #efefef

.qmAvatarDefaultImg
  size(100%)
  display: block

.qmAvatarIndicator
  size(12px)
  borders(2px solid BASE_BG, 50%)

  display: block
  position: absolute
  right: -1px
  bottom: -1px
  z-index: 2

  background: FADED_FONT

.qmAvatarIndicator.isActive
  background: ON_INDICATORS


