@import "../lib/sharedStyles"

// Fade in animations
@keyframes qmFadeInStill
  0%
    transform: translateX(0) translateY(0)
    opacity: 0
  1%
    transform: translateX(0) translateY(0)
    opacity: 0
  100%
    opacity: 1
    transform: translateX(0) translateY(0)

@keyframes qmFadeInDown
  0%
    transform: translateX(0) translateY(neg(DOUBLE_REM))
    opacity: 0
  1%
    transform: translateX(0) translateY(neg(DOUBLE_REM))
    opacity: 0
  100%
    opacity: 1
    transform: translateX(0) translateY(0)

@keyframes qmFadeInUp
  0%
    transform: translateX(0) translateY(DOUBLE_REM)
    opacity: 0
  1%
    transform: translateX(0) translateY(DOUBLE_REM)
    opacity: 0
  100%
    opacity: 1
    transform: translateX(0) translateY(0)

@keyframes qmFadeInLeft
  0%
    transform: translateX(neg(DOUBLE_REM)) translateY(0)
    opacity: 0
  1%
    transform: translateX(neg(DOUBLE_REM)) translateY(0)
    opacity: 0
  100%
    opacity: 1
    transform: translateX(0) translateY(0)

@keyframes qmFadeInRight
  0%
    transform: translateX(DOUBLE_REM) translateY(0)
    opacity: 0
  1%
    transform: translateX(DOUBLE_REM) translateY(0)
    opacity: 0
  100%
    opacity: 1
    transform: translateX(0) translateY(0)

// Fade out animations
@keyframes qmFadeOutStill
  0%
    opacity: 1
    transform: translateX(0) translateY(0)
  99%
    opacity: 0
    transform: translateX(0) translateY(0)
  100%
    opacity: 0
    transform: translateX(0) translateY(0)

@keyframes qmFadeOutDown
  0%
    opacity: 1
    transform: translateX(0) translateY(0)
  99%
    opacity: 0
    transform: translateX(0) translateY(DOUBLE_REM)
  100%
    opacity: 0
    transform: translateX(0) translateY(DOUBLE_REM)

@keyframes qmFadeOutUp
  0%
    opacity: 1
    transform: translateX(0) translateY(0)
  99%
    opacity: 0
    transform: translateX(0) translateY(neg(DOUBLE_REM))
  100%
    opacity: 0
    transform: translateX(0) translateY(neg(DOUBLE_REM))

@keyframes qmFadeOutLeft
  0%
    opacity: 1
    transform: translateX(0) translateY(0)
  99%
    opacity: 0
    transform: translateX(neg(DOUBLE_REM)) translateY(0)
  100%
    opacity: 0
    transform: translateX(neg(DOUBLE_REM)) translateY(0)

@keyframes qmFadeOutRight
  0%
    opacity: 1
    transform: translateX(0) translateY(0)
  99%
    opacity: 0
    transform: translateX(DOUBLE_REM) translateY(0)
  100%
    opacity: 0
    transform: translateX(DOUBLE_REM) translateY(0)

.qmAnimationContainer
  &.isOverrideShow
    transform: translateX(0) translateY(0)

  &.isOverrideHide
    transform: translateX(0) translateY(0)

  &.isDetached
    display: none

  &.isAnimating
    animation-timing-function: ease
    animation-fill-mode: forwards

    &.isFadeIn.isStill
      animation-name: qmFadeInStill

    &.isFadeIn.isDown
      animation-name: qmFadeInDown

    &.isFadeIn.isUp
      animation-name: qmFadeInUp

    &.isFadeIn.isLeft
      animation-name: qmFadeInLeft

    &.isFadeIn.isRight
      animation-name: qmFadeInRight

    &.isFadeOut.isStill
      animation-name: qmFadeOutStill

    &.isFadeOut.isDown
      animation-name: qmFadeOutDown

    &.isFadeOut.isUp
      animation-name: qmFadeOutUp

    &.isFadeOut.isLeft
      animation-name: qmFadeOutLeft

    &.isFadeOut.isRight
      animation-name: qmFadeOutRight
