@import "../lib/sharedStyles"

.qmCharLimitContainer
  @extend $absFill

  text-align: right
  overflow: hidden

.qmCharLimitText
  color: BASE_FONT_LIGHTER
  font-size: 85%

  position: absolute
  right: 0.5rem
  bottom: 8px

  &.isField
    bottom: 50%
    transform: translateY(50%)

.qmCharLimitCount.hasError
  font-weight: bold
  color: ERROR

.qmCharLimitCount.reachedMin
  font-weight: bold
  color: GREEN

.qmCharLimitBar
  size(100%, 5px)
  borders(0, 0 0 0.25rem 0.25rem)

  position: absolute
  left: 0
  bottom: 0

  display: block
  background: BLACK_FADE_FLY
  overflow: hidden

  &.isCompact
    size(100%, 3px)

.qmCharLimitBarFill
  size(0, 100%)

  display: block
  position: absolute
  left: 0
  top: 0

  transition: BASE_TRANSITION

  &.empty
    background: transparent

  &.worst
    background: RED

  &.worse
    background: ORANGE

  &.decent
    background: YELLOW

  &.better
    background: YELLOW_GREEN

  &.best
    background: GREEN

  &.error
    background: RED

.qmTextFieldContainer
  position: relative

.qmTextFieldInputWrapper
  display: block
  position: relative
  background: BASE_BG
  border-radius: 0.25rem

  &.isDisable .qmCharLimitContainer
    opacity: 0.25

.qmTextFieldError
  display: block
  position: absolute
  left: 0
  top: 100%
  width: 100%

  color: ERROR
  font-size: 75%
  padding: 0.25rem 0 0.33rem

$commonFieldProps
  borders(BASE_BORDER, 0.25rem)

  position: relative
  z-index: 2

  display: block
  margin: 0

  color: BASE_FONT
  background: transparent
  line-height: 1

  width: 100%
  outline: solid transparent !important

  box-shadow: BLANK_OUTLINE
  transition: BASE_TRANSITION

  &::placeholder
    color: BASE_PLACEHOLDER

  &.isFocused
    box-shadow: BASE_OUTLINE
    border-color: HIGHLIGHTS

  &.hasError
    box-shadow: ERR_OUTLINE
    border-color: ERROR

  &.isDisabled::placeholder
    color: BASE_FONT_DISABLED

.qmTextFieldInput.isTextArea
  @extend $commonFieldProps

  height: LARGER_ELEM_HEIGHT * 3
  padding: 0.66rem 0.75rem
  resize: auto

  &.isCompact
    height: SMALLER_ELEM_HEIGHT * 3

  &.hasCharLimit
    padding-bottom: 1.75rem

  &.noResize
    resize: none

.qmTextFieldInput.isField
  @extend $commonFieldProps

  padding: 0.1rem 0.75rem
  height: LARGER_ELEM_HEIGHT

  &.isCompact
    height: SMALLER_ELEM_HEIGHT

