@import "../lib/sharedStyles"

.qmToastAreaContainer
  position: fixed
  z-index: 99999

  &.isBottom
    bottom: REM

  &.isTop
    top: REM

  &.isLeft
    left: REM

  &.isRight
    right: REM

  &.isCenter
    left: 50%
    transform: translateX(-50%)

.qmToast
  margin-bottom: HALF_GUTTER
  max-width: 350px

  &.isLX
    text-align: left

  &.isCX
    text-align: center

  &.isRX
    text-align: right

.qmToastContentWrapper
  display: inline-block
  text-align: left

.qmToastContent
  borders(0, QUARTER_REM)
  box-sizing: border-box

  background: BASE_BG
  box-shadow: LIFTED_SHADOW

  display: flex
  align-items: center
  padding-right: THREE_QUARTER_REM
  min-height: LARGER_ELEM_HEIGHT

.qmToastText
  padding: THREE_QUARTER_REM REM

.qmToastClearButton
  flex-shrink: 0

