@import "../lib/sharedStyles"

.qmRadioContainer
  @extend $vertMiddle
  padding: 0 HALF_GUTTER 0.33rem 0

.qmRadioLabel
  @extend $vertMiddle
  color: BASE_FONT
  transition: BASE_TRANSITION
  margin-right: 0.33rem

  &.isDisabled
    color: FADED_FONT

.qmRadioFauxWrapper
  @extend $vertMiddle

  &:hover .qmRadioLabel.isEnabled
    color: HIGHLIGHT

.qmRadioCheckWrapper
  @extend $vertMiddle
  size(18px)

  position: relative
  margin-right: 0.33rem

.qmRadioDotIcon
  @extend $absCenter
  fill: LIGHT_FONT

.qmRadioOverlay
  @extend $absFill
  borders(BASE_BORDER, 50%)

  background: BASE_BG
  outline: solid transparent !important
  overflow: hidden

  transition: BASE_TRANSITION
  box-shadow: BLANK_OUTLINE

  &.isChecked
    background: HIGHLIGHT
    border-color: OUTLINES

    .qmRadioDot circle
      fill: LIGHT_FONT

  &.isFocused
    box-shadow: BASE_OUTLINE
    border-color: OUTLINES

.qmRadioNative
  display: block
  position: absolute
  left: -1000vw
  top: 0
  border: 0
