@import "../lib/sharedStyles"

.qmAlertContainer
  borders(BASE_BORDER, QUARTER_REM)
  padding: THREE_QUARTER_REM REM
  min-height: LARGER_ELEM_HEIGHT

  &.isDanger
    background: rgba(RED, 0.15)
    border-color: rgba(RED, 0.25)

  &.isInfo
    background: rgba(BLUE, 0.15)
    border-color: rgba(BLUE, 0.25)

  &.isWarning
    background: rgba(YELLOW, 0.15)
    border-color: rgba(YELLOW, 0.25)

.qmIcon.qmAlertIcon

  &.isDanger
    stroke: RED

  &.isInfo
    stroke: BLUE

  &.isWarning
    stroke: YELLOW

  &.isDanger .qmPathIsFilled
    fill: RED

  &.isInfo .qmPathIsFilled
    fill: BLUE

  &.isWarning .qmPathIsFilled
    fill: YELLOW

.qmAlertContent.qmGrowContainer
  margin-left: QUARTER_REM

.qmAlertGrid.qmGridContainer > *
  margin-bottom: 0
