@import "../lib/sharedStyles"

.qmAlertContainer
  borders(BASE_BORDER, 0.25rem)
  padding: 0.75rem 1rem 0.75rem
  min-height: LARGER_ELEM_HEIGHT

  &.isDanger
    background: rgba(RED, 0.15)
    border-color: rgba(RED, 0.18)

  &.isInfo
    background: rgba(BLUE, 0.15)
    border-color: rgba(BLUE, 0.18)

  &.isWarning
    background: rgba(YELLOW, 0.15)
    border-color: rgba(YELLOW, 0.18)

.qmIcon.qmAlertIcon

  &.isDanger
    stroke: RED

  &.isInfo
    stroke: BLUE

  &.isWarning
    stroke: YELLOW

  &.isDanger .qmPathIsFilled
    fill: RED

  &.isInfo .qmPathIsFilled
    fill: BLUE

  &.isWarning .qmPathIsFilled
    fill: YELLOW

.qmAlertContent.qmGrowContainer
  margin-left: 0.25rem

.qmAlertGrid.qmGridContainer > *
  margin-bottom: 0