.qmTagContainer {
  box-sizing: border-box;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  display: block;
  padding: 3.2px 8px;
  font-size: 11.047619047619047px;
  line-height: 1;
}
.qmTagContainer.isGray {
  background: rgba(119,119,119,0.15);
  border-color: rgba(119,119,119,0.25);
  color: #777;
}
.qmTagContainer.isRed {
  background: rgba(247,54,76,0.15);
  border-color: rgba(247,54,76,0.25);
  color: #f7364c;
}
.qmTagContainer.isOrange {
  background: rgba(255,137,51,0.15);
  border-color: rgba(255,137,51,0.25);
  color: #ff8933;
}
.qmTagContainer.isYellow {
  background: rgba(243,183,9,0.15);
  border-color: rgba(243,183,9,0.25);
  color: #f3b709;
}
.qmTagContainer.isGreen {
  background: rgba(82,192,44,0.15);
  border-color: rgba(82,192,44,0.25);
  color: #52c02c;
}
.qmTagContainer.isBlue {
  background: rgba(60,151,255,0.15);
  border-color: rgba(60,151,255,0.25);
  color: #3c97ff;
}
.qmTagContainer.isPurple {
  background: rgba(184,103,255,0.15);
  border-color: rgba(184,103,255,0.25);
  color: #b867ff;
}

