@import "../lib/sharedStyles"

.qmLabelContainer
  display: block

  color: BASE_FONT
  font-weight: bold
  font-size: SMALLER_FONT

  padding: 0 0 .33rem 0
  text-align: left

.qmLabelRequired
  font-weight: bold
  color: ERRORS
  padding: 0 2px
