@import "../lib/sharedStyles"

.qmLabelContainer
  display: block

  color: BASE_FONT
  font-weight: bold
  font-size: SMALLER_FONT

  padding: 0 0 HALF_REM 0
  text-align: left

.qmLabelRequired
  font-weight: bold
  color: ERROR
  padding: 0 EIGHTH_REM
